*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* google font css */

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  /*navbar css  */

  body{
    font-family: "Poppins", sans-serif;
    
  }
.navbar{
    width: 100%;
    background-color: #1f1f1f;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center;
    padding: 30px !important; */
}

.nav_items{
    /* display: flex; */
    gap: 50px;
}
.nav_items li{
    list-style-type: none;
}
.nav_items li a{
    text-decoration: none;
    color: white;
}
.left_nav{
    color: #e2c216;
}

.rtl:space-x-reverse > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 1;
}
/* navbar end */
/* banner css */
.banner_sectioin{
    background-color: #1f1f1f;
    color: white;
    height: 450px;
}

.banner_image{
    width: 500px;
}


/* card */

/* .first-card{
  background-image: url(
  'images/card-1.jpg'
  );
} */

/* offer css */

.offer_sell{
  background-image: url('../images/shope.jpg');
  /* background-color: #1f1f1f; */
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 550px;
}

/* faq */
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}
.accordion.active .accordion-content {
  max-height: 100px; 
}

/* about us */

/* .about_img{
  width: 1700px;
  height: 100%;
} */